
@{
    ViewData["Title"] = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-4">
    <h3 class="text-danger">403 - Forbidden</h3>
    <p>Access to this resource is denied.</p>
</div>