
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Access Denied";
}

<h2 class="text-danger">Access Denied</h2>
<p>Maaf, kamu tidak memiliki izin untuk mengakses halaman ini.</p>
<a href="/" class="btn btn-primary">Kembali ke Beranda</a>


