
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Activation Account</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="bg-primary">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="w-50">
            <div class="card p-4 shadow-lg" id="loginForm">
                <h3 class="text-center">Congratulation!</h3>
                    <div class="mb-3">
                     <p>your account has activated successfully</p>
                    <p>please click <a href="@Url.Action("Activate","account")">this link</a> to login to your account! </p>
                    </div>
                   
                
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="bg-primary text-white text-center p-2">
        <p>Copyright © Crudify|Admin 2025</p>
    </footer>
</body>
</html>
