@model Domain.ViewModels.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="bg-primary">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="w-50">
            <!-- Login Form -->

            <div class="card p-4 shadow-lg" id="registerForm">
                <h3 class="text-center">Register</h3>
                @if (!ViewData.ModelState.IsValid)
                {
                    <ul class="text-danger">
                        @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li>@modelError.ErrorMessage</li>
                        }
                    </ul>
                }
                <form asp-action="Register" asp-controller="account" method="post">
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label for="UserName" class="form-label">User name</label>
                        <input type="text" class="form-control" required asp-for="UserName">
                    </div>
                    <div class="mb-3">
                        <label for="registerEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="registerEmail" asp-for="Email">
                    </div>
                    <div class="mb-3">
                        <label for="registerPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="registerPassword" asp-for="Password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" asp-for="ConfirmPassword">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Register</button>
                    <p class="text-center mt-3">Already have an account? <a href="@Url.Action("login","account")">Login</a></p>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="bg-primary text-white text-center p-2">
        <p>Copyright © Crudify|Admin 2025</p>
    </footer>
</body>
</html>

